/*Global Settings*/
body {
	font-family: Helvetica, sans-serif !important;
}

p {
	font-size: .9rem;
	color: #FFFFFF;
}

a {
	color:white;
	font-weight:bold;
	text-decoration:none;
}

/*Global method for hyperlinks*/
.hyperLink {
	display: block;
	opacity: .5;
	transition: 2s;
	color:#FFFFFF;
}

	.hyperlink:hover {
		opacity: 1;
	}

/*Github, LinkedIn, Email attached*/
#social {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	width:954px;
	height:50px;
	padding:3px;
	background-color: #f1f1f1;
}

	.anim {
		width:48px;
		height:48px;
		opacity: .5;
		transition: 1s;
	}

		.anim:hover {
			opacity: 1;
		}

		.fade{
			opacity: .5;
			transition: 1s;
		}

			.fade:hover{
				opacity: 1;
			}

/*Image Banner*/
#banner {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 8px;
}

/*Containers for each tab and their properties*/
#navigational {
	width:960px !important;
	margin-right: auto !important;
	margin-left: auto !important;
}

		/* Style the tab */
		.tab {
		    overflow: hidden;
		    border: 1px solid #ccc;
		    background-color: #f1f1f1;
		}

				/* Style the buttons that are used to open the tab content */
				.tab button {
				    background-color: inherit;
				    float: left;
				    border: none;
				    outline: none;
				    cursor: pointer;
				    padding: 14px 16px;
				    transition: 0.3s;
				}

						/* Change background color of buttons on hover */
						.tab button:hover {
						    background-color: #ddd;
						}

								/* Create an active/current tablink class */
								.tab button.active {
								    background-color: #ccc;
								}

										/* Style the tab content */
										.tabcontent {
										    display: none;
										    background-color: #1E1E1E;
										    text-align: center;
										    padding: 6px 12px;
										    border-top: none;
										    animation: fadeEffect 1s; /* Fading effect takes 1 second */
										}
										/*Font size for the text within the tabs*/
										.tabcontent p {
											font-size: .9rem;
										}

										/*colors for headings*/
										.tabcontent h1{color:#FFFFFF;}
										.tabcontent h2{color:#11639C;}

												/* Go from zero to full opacity */
												@keyframes fadeEffect {
												    from {opacity: 0;}
												    to {opacity: 1;}
												}

/*Accordion method*/
.menu a {
  display: block;
  padding: 10px 15px;
}

	.drop-down a {
	  min-width: 90px;
	}

		.drop-down-menu {
		  display: block;
		}

	.menu-title {
	  cursor: pointer;
	  display:block;
	  padding: 10px 15px;
	}

		.activate {
		  display: none;

		  position: absolute;
		  cursor: pointer;
		  width: 100%;
		  height: 40px;
		  margin: 0 0 0 -15px;
		  opacity: 0;
		}

	/* Skin */

	.menu a, .drop-down-menu {
	  background: #FFFFFF;

	}

		.menu a:hover, .drop-down-menu:hover {
		  background: #ddd;	/*Color for when hovered on title*/

		}

	.drop-down a {
	  background: #222;
	}

		.drop-down a:hover {
		  background: #111;
		}

			:checked ~ .menu-title {
			  background: #11639C; /*color for when accordion is open*/
			}

	.drop-down {
	  max-height: 0;
	  overflow: hidden;
	}

		.drop-down a {
		  background: #222;
		}

			.activate:checked ~ .drop-down {
			  max-height: 300px;
			}

				.drop-down, .menu a, .drop-down-menu {
				  -webkit-transform: translateZ(0);  
				  -webkit-transition: all 0.3s;
				  -moz-transition: all 0.3s;
				  -o-transition: all 0.3s;
				  transition: all 0.3s;
				}

/*Container box for image tile layer*/
.container {
	width:192px;
	height:256px;
	margin-left: auto;
	margin-right: auto;
}
	/*Resolution settings for profile picture*/
	.container img {
		width:192px;
		height:256px;
	}